Repository voxpupuli/puppet-puppetwebhook, pull requests merged in 2025-07, with the labels that each got.

#49 modulesync 10.0.0
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pdkignore
  .pmtignore
  .puppet-lint.rc
  .rubocop.yml
  .rubocop_todo.yml
  Dockerfile
  Gemfile
  REFERENCE.md
  Rakefile
  metadata.json
  spec/acceptance/puppetwebhook_spec.rb
  spec/classes/puppetwebhook_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  types/appconfig.pp
Labels: backwards-incompatible, modulesync

#56 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog

#55 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement

#51 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#57 puppet/systemd: Allow 8.x and older
  metadata.json
Labels: enhancement
